<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/blocks.css/dist/blocks.min.css">
    <title>Pet store inventory</title>
</head>
<body>

<div class="block">
    <h1 style="text-align: center;">Pet store Inventory</h1>
</div>
   <div class="block">
       <h3 style="text-align: center;">Total pets in store</h3>
      <p style="text-align: center; font-size:3rem;"> {{ inventory }}
    </p> 
    </div>
</div>

    <div class="block">
        {% for reptile in reptiles%}
        <p> {{ reptile }}</p>
        {% endfor %}
    </div>
</body>
</html>
